- var menu = ['глагне', 'упчк', 'пантеон']

- var menuTrue = [{title: 'глагне', url: '/',},{title: 'упчк', url: 'http://oldupyachka.ru/',},{title: 'пантеон', url: 'http://lurkmore.to/Упячка/Идолы',},]

- var youAreUsingJade = 'wtf'

- var testUrl = 'nicothin.pro'

- var authenticated = true

- var theGreat = "<span>текст в спане!</span>"
